<section id="choose" class="section-choose">
    <div class="container section-choose__container">
        <h2 class="section-choose__title">Why Choose Us</h2>
        <p class="section-choose__description">
            Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee 
        </p>
        <p class="section-choose__description">
            Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
        </p>
        <div>
            <img class="photo-choose__image" src="images/card-2.png" alt="card-2" />
        </div>
        <div>
            <img class="photo-choose__image" src="images/card-1.png" alt="card-1" />
        </div>
        <a href="#" class="button button--choose section-choose__button"
        >Explore Places</a>
    </div>         
</section>