// Colors
$white: #FFFFFF;
$light: #FEFEFE;
$grey-light: #E8E8E8;
$grey: #CCCCCC;
$grey-dark: #999999;
$dark: #333333;
$darker: #232323;
$blue: #5474FD;
$blue-two: #496bfe;
$blue-three: #00a2ff;
$red: #ff0000;
$pink: #ff6363;
$yellow: #ffff00;

// Fonts
$base-font: 'Aleo', serif;
$secondary-font: 'Josefin Sans', sans-serif;

$max-width: 1770px;
